<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Controle de Usuário - Rewear</title>
  <link rel="stylesheet" href="consulta.css">
</head>
<body>
    <nav class="navbar">
        <ul>

            <li class="menu">
                    <img src="Mídias/menu-aberto.png"; alt="Ícone de Menu"> 
                </a>
            </li>

            <li class="logo">
                <img src="Mídias/Logo.PNG" alt="Logo">
            </li>

            <li class="login-icon">
                    <img src="Mídias/login-icon.png" alt="Ícone de Login">
                </a>
            </li>
        </ul>
    </nav>

  <main class="main">
    <h1>Controle de usuário</h1>
    <div class="search-bar">
      <input type="text" placeholder="Digite o nome do usuário">
      <button>
        <img src="Mídias/lupa2.png" alt="Pesquisa de usuários"> 
      </button>
    </div>
    <section class="user-list">

      <div class="user-card">
        <div class="user-icone">
            <img src="Mídias/perfil2.png" alt="Perfil"> 
        </div>
        <div class="user-info">
          <p>Nome do usuário: Yara Nascimento</p>
          <p>Membro desde: xx/xx/xxxx</p>
          <p>Vendedor: | Cliente: | Doador:x </p>
        </div>
        <div class="user-actions">
            <button>
                <img src="Mídias/ferramenta-lapis2.png" alt="Editar usuário"> 
              </button>
            <button>
                <img src="Mídias/poeira2.png" alt="Excluir usuário"> 
            </button>
          </div>
          

      
      </div>
      <div class="user-card">
        <div class="user-icone">
            <img src="Mídias/perfil2.png" alt="Perfil"> 
        </div>
        <div class="user-info">
          <p>Nome do usuário:Igor Pereira</p>
          <p>Membro desde: xx/xx/xxxx</p>
          <p>Vendedor: X | Cliente: | Doador: </p>
        </div>
        <div class="user-actions">
          <button>
            <img src="Mídias/ferramenta-lapis2.png" alt="Editar usuário"> 
          </button>
          <button>
            <img src="Mídias/poeira2.png" alt="Excluir usuário"> 
          </button>
        </div>
      </div>
      
      <div class="user-card">
        <div class="user-icone">
            <img src="Mídias/perfil2.png" alt="Perfil"> 
        </div>
        <div class="user-info">
          <p>Nome do usuário:Beatriz da Cunha</p>
          <p>Membro desde: xx/xx/xxxx</p>
          <p>Vendedor: | Cliente: X | Doador: </p>
        </div>
    
        <div class="user-actions">
          <button>
            <img src="Mídias/ferramenta-lapis2.png" alt="Editar usuário"> 

          </button>
          <button>
            <img src="Mídias/poeira2.png" alt="Excluir usuário"> 
          </button>
        </div>
      </div>
      <div class="user-card">
        <div class="user-icone">
            <img src="Mídias/perfil2.png" alt="Perfil"> 
        </div>
        <div class="user-info">
          <p>Nome do usuário:Pietra Leblanc</p>
          <p>Membro desde: xx/xx/xxxx</p>
          <p>Vendedor:  | Cliente: | Doador:X </p>
        </div>
    
        <div class="user-actions">
          <button>
            <img src="Mídias/ferramenta-lapis2.png" alt="Editar usuário"> 
          </button>
          <button>
            <img src="Mídias/poeira2.png" alt="Excluir usuário"> 
          </button>
        </div>
      </div>
      <div class="user-card">
        <div class="user-icone">
            <img src="Mídias/perfil2.png" alt="Perfil"> 
        </div>
        <div class="user-info">
          <p>Nome do usuário:Theodoro Martins</p>
          <p>Membro desde: xx/xx/xxxx</p>
          <p>Vendedor: X | Cliente: | Doador: </p>
        </div>
    
        <div class="user-actions">
          <button>
            <img src="Mídias/ferramenta-lapis2.png" alt="Editar usuário"> 
          </button>
          <button>
            <img src="Mídias/poeira2.png" alt="Excluir usuário"> 
          </button>
        </div>
      </div>
      <div class="user-card">
        <div class="user-icone">
            <img src="Mídias/perfil2.png" alt="Perfil"> 
        </div>
        <div class="user-info">
          <p>Nome do usuário:Laura Oliveira</p>
          <p>Membro desde: xx/xx/xxxx</p>
          <p>Vendedor:  | Cliente: | Doador:X </p>
        </div>
            <div class="user-actions">
                <button>
                    <img src="Mídias/ferramenta-lapis2.png" alt="Editar usuário"> 
                </button>
                <button>
                    <img src="Mídias/poeira2.png" alt="Excluir usuário"> 
                </button>
              </div>
            </div>

      <div class="user-card">
        <div class="user-icone">
            <img src="Mídias/perfil2.png" alt="Perfil"> 
        </div>
        <div class="user-info">
          <p>Nome do usuário:Felipe do Santos</p>
          <p>Membro desde: xx/xx/xxxx</p>
          <p>Vendedor:  | Cliente:X | Doador: </p>
        </div>
    
        <div class="user-actions">
          <button>
            <img src="Mídias/ferramenta-lapis2.png" alt="Editar usuário"> 
          </button>
          <button>
            <img src="Mídias/poeira2.png" alt="Excluir usuário"> 
          </button>
        </div>
      </div>
    </section>
  </main>
</body>
</html>