<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recompensas - ReWear</title>
    <link rel="stylesheet" href="Recompensas.css">
</head>
<body>
        <!-- Navegação -->
    <nav class="navbar">
        <ul>
                <!-- Ícone de Menu à Esquerda -->
            <li class="menu">
                    <img src="Mídias/menu-aberto.png"; alt="Ícone de Menu"> <!-- Substitua pelo seu ícone -->
                </a>
            </li>
    
                <!-- Imagem centralizada na navbar -->
            <li class="logo">
                <img src="Mídias/Logo.PNG" alt="Logo">
            </li>
    
                <!-- Ícone de Login à Direita -->
            <li class="login-icon">
                    <img src="Mídias/login-icon.png" alt="Ícone de Login"> <!-- Substitua pelo seu ícone -->
                </a>
            </li>
        </ul>
    </nav>
<div class="container">
    <h1> Recompensas </h1>
</section>
<section class="grid">
  <div class="grid-item">Cupom AliExpress garante 30% off em novas compras.</div>
  <div class="grid-item">Cupom Casas Bahia oferece até 20%.</div>
  <div class="grid-item">Ganhe 15% de desconto em produtos O Boticário.</div>

  <div class="card image-card">
    <img src="Mídias/GooglePlay.png" alt="Gift Card Google Play">
</div>
<div class="card image-card">
    <img src="Mídias/Ifood.png" alt="Gift Card iFood">
</div>
<div class="card image-card">
    <img src="Mídias/uber.png" alt="Gift Card Uber">
</div>

  <div class="grid-item">Recarga de celular. Operadora TIM - R$40.</div>
  <div class="grid-item">Recarga de celular. Operadora Claro - R$40.</div>
  <div class="grid-item">Recarga de celular. Operadora VIVO - R$40.</div>
</section>
</div>

  
    
</body>
</html>