<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../View/Media/CSS/artigo4.css"
</head>
<body>
    <nav class="navbar">
        <ul>
            <li class="menu">
                    <img src="midia1/menu-aberto.png"; alt="Ícone de Menu"> 
                </a>
            </li>
            <li class="logo">
                <img src="midia1/Logo.PNG" alt="Logo">
            </li>
            <li class="login-icon">
                    <img src="midia1/login-icon.png" alt="Ícone de Login"> 
                </a>
            </li>
        </ul>
    </nav>
<h1>Moda sustentável: desconstruindo padrões</h1>
    <div class="content">
        <img src="midia1/transferir.jpeg" alt="mulher segurando roupas" class="image">
        <p class="text">
            O artigo aborda a crescente conscientização sobre a moda sustentável em um contexto de consumo acelerado e tendências momentâneas. Ele ressalta a necessidade de um propósito que una produtos e consumidores, destacando que a falta de significado em uma compra gera um vazio. 
Apresenta uma metodologia de pesquisa que inclui levantamento exploratório, bibliográfico e uso da internet. A indústria da moda é identificada como uma das principais poluidoras, especialmente devido ao uso de materiais como poliéster e à prática do fast fashion, que intensifica problemas ambientais e sociais. 
O autor defende que a sustentabilidade deve ser um princípio incorporado às empresas, não uma moda passageira. O consumo crítico, que considera o processo produtivo e o impacto social, está emergindo, e o "consumidor verde" passa a priorizar essas questões em suas escolhas. 
O texto também reflete sobre o papel da moda na construção da identidade e no prazer do consumo, associando-o a uma busca por satisfação emocional. Critica o consumismo desenfreado, que transforma as pessoas em meros consumidores, e sugere que as compras são frequentemente influenciadas por padrões sociais.  
        </p>
    </div>
</body>
</html>