<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artigo 3 - ReWear</title>
    <link rel="stylesheet" href="Media/CSS/artigo3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 
</head>
<body>
    <nav class="navbar">
        <ul>
            <li class="menu">
                    <img src="Media/menu-aberto.png"; alt="Ícone de Menu"> 
                </a>
            </li>
            <li class="logo">
                <img src="Media/Logo.PNG" alt="Logo">
            </li>
            <li class="login-icon">
                    <img src="Media/login-icon.png" alt="Ícone de Login"> 
                </a>
            </li>
        </ul>
    </nav> 

    <h1>Consumo consciente de moda e a percepção do consumidor</h1>
    <div class="content">
      <img src="Media/transferir (2).jpeg" alt="transferir2" class="image">
      <p class="text">
        O aumento da consciência sobre consumo sustentável tem levado os consumidores a demandar produtos e serviços que respeitem questões socioambientais. Apesar da crescente preocupação com a sustentabilidade, estudos indicam que há uma lacuna entre a consciência socioambiental e as ações efetivas de compra, sugerindo que apenas ter consciência não garante um comportamento de consumo sustentável. 
Fatores como a preferência por produtos verdes, a percepção das ações de responsabilidade social das empresas e a sensibilidade ao preço influenciam as decisões de compra. Este estudo investiga como esses fatores afetam o consumo consciente no setor de moda, que é uma das indústrias mais poluentes. 
A pesquisa quantitativa, realizada por meio de questionários online, revela que a compra de produtos verdes impacta a sensibilidade a preços, enquanto a percepção de responsabilidade social influencia positivamente o consumo consciente. No entanto, a relação entre a compra de produtos verdes e o consumo consciente foi negativa, desafiando expectativas. Além disso, a sensibilidade ao preço não mostrou uma relação significativa com o consumo consciente. 
O estudo destaca a complexidade das decisões de consumo, enfatizando a importância das ações sociais e ambientais das empresas e sugerindo que, embora os consumidores reconheçam essas questões, elas se refletem de maneira diferente em seu comportamento de compra. 
      </p>
  </div>  

  <a href="https://www.scielo.br/j/bbr/a/J9kydH8YxqcdcpxFMmSRy9D/?format=pdf&lang=pt"target="_blank" rel="external">Clique aqui para ter acesso a integra do artigo -></a></p>

  <footer class="footer">
    <div class="footer-links">
        <a href="../View/Sobre.html">SOBRE</a>
        <a href="../View/Termos e Condições.html">TERMOS E CONDIÇÕES</a>
        <a href="../View/Política de Privacidade.html">POLÍTICA DE PRIVACIDADE</a>
    </div>

  <div class="social-icons">
    <a href="https://www.instagram.com" target="_blank" class="social-icon">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="https://x.com" target="_blank" class="social-icon">
        <i class="fab fa-x"></i> 
    </a>
    <a href="https://www.facebook.com" target="_blank" class="social-icon">
        <i class="fab fa-facebook-f"></i>
    </a>
</div>

</footer> 
</body>
</html>