<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Media/CSS/artigo2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <nav class="navbar">
      <ul>
          <li class="menu">
                  <img src="Media/menu-aberto.png"; alt="Ícone de Menu"> 
              </a>
          </li>

          <li class="logo">
              <img src="Media/Logo.PNG" alt="Logo">
          </li>
          <li class="login-icon">
                  <img src="Media/login-icon.png" alt="Ícone de Login"> 
              </a>
          </li>
      </ul>
  </nav>
 <h1>Consumo consciente: porque adotá-los?</h1>
  <div class="content">
    <img src="Media/transferir.jpeg" alt="peças de roupas" class="image">
    <p class="text">
        A indústria da moda está em crescimento acelerado, impulsionada pelo modelo de fast fashion, que gera tendências rápidas e alto consumo. Contudo, a crescente preocupação ambiental trouxe à tona a moda sustentável e o consumo consciente. A moda sustentável utiliza materiais eco-friendly e práticas como upcycling, que reusa tecidos descartados, como exemplificado pela marca Mali Brand, que cria peças a partir de retalhos.

        Outra abordagem é o slow fashion, que prioriza qualidade, durabilidade e produção justa. O consumo consciente se destaca na compra de roupas em brechós, promovendo a reutilização e evitando desperdício. Influenciadores digitais têm contribuído para a popularização desse consumo responsável, como Caroline Granström, que busca inspirar mudanças nas práticas de compra.

        O fast fashion gera impactos negativos significativos, como a produção de 170 mil toneladas de lixo têxtil anualmente, contribuindo para a degradação ambiental e a emissão de carbono. Apesar dos benefícios da moda sustentável, ela ainda enfrenta desafios para se impor no mercado, devido à dominância das grandes marcas de fast fashion.
    </p> 
  </div>


  <a href="https://sites.ufop.br/lamparina/blog/moda-sustent%C3%A1vel-e-consumo-consciente-por-que-adot%C3%A1-los"target="_blank" rel="external">Clique aqui para ter acesso a integra do artigo -></a></p>

    <footer class="footer">
        <div class="footer-links">
            <a href="../View/Sobre.html">SOBRE</a>
            <a href="../View/Termos e Condições.html">TERMOS E CONDIÇÕES</a>
            <a href="../View/Política de Privacidade.html">POLÍTICA DE PRIVCADIDADE</a>
        </div>
    
        <div class="social-icons">
            <a href="https://www.instagram.com" target="_blank" class="social-icon">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://x.com" target="_blank" class="social-icon">
                <i class="fab fa-x"></i> 
            </a>
            <a href="https://www.facebook.com" target="_blank" class="social-icon">
                <i class="fab fa-facebook-f"></i>
            </a>
        </div>
    
    </footer> 

</body>
</html>