<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../View/Media/CSS/artigo3.css"
</head>
<body>
    <nav class="navbar">
        <ul>
            <li class="menu">
                    <img src="midia1/menu-aberto.png"; alt="Ícone de Menu"> 
                </a>
            </li>
            <li class="logo">
                <img src="midia1/Logo.PNG" alt="Logo">
            </li>
            <li class="login-icon">
                    <img src="midia1/login-icon.png" alt="Ícone de Login"> 
                </a>
            </li>
        </ul>
    </nav> 


</body>
</html>