<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" a href="Media/CSS/dadosdoador.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
      <nav class="navbar">
        <ul>
            <li class="menu">
                    <img src="Media/menu-aberto.png"; alt="Ícone de Menu"> 
                </a>
            </li>
            <li class="logo">
                <img src="Media/Logo.PNG" alt="Logo">
            </li>
            <li class="login-icon">
                    <img src="Media/login-icon.png" alt="Ícone de Login">
                </a>
            </li>
        </ul>
    </nav>

 <h1>Dados Pessoais:</h1>
  <div class="nome">
    <label for="nome">Nome Completo:</label>
    <input type="text" id="nome" name="nome" placeholder="">
  </div>

  <div class="nascimento">
    <label for="nascimento-">Data de Nascimento:</label> 
    <input type="text" id="nascimento" name="nascimento" placeholder="">
  </div> 
 
  <div class="telefone">
    <label for="telefone">Telefone:</label> 
    <input type="text" id="telefone" name="Telefone" placeholder="">
  </div> 

  <div class="email">
    <label for="email">Email ou CPF:</label>
    <input type="text" id="email" name="email" placeholder="">
  </div> 

  <div class="país">
    <label for="país">Pais:</label>
    <input type="text" id="país" name="país" placeholder="">
  </div>  

  <div class="sexo">
    <label for="sexo">Sexo:</label>
    <input type="text" id="sexo" name="sexo" placeholder="">
  </div>  

  <div class="estado">
    <label for="estado">Estado:</label>
    <input type="text" id="estado" name="estado" placeholder="">
  </div> 


  <div class="pergunta1">
    <label for="pergunta1">Como vc escolheu quais roupas doar:</label>
    <input type="text" id="pergunta1" name="pergunta1" placeholder="">
  </div> 

  <div class="pergunta2">
    <label for="pergunta2">O que te motivou a doar suas roupas:</label>
    <input type="text" id="pergunta2" name="pergunta2" placeholder="">
  </div>


  <footer class="footer">
    <div class="footer-links">
        <a href="#sobre">Sobre</a>
        <a href="#termos">Termos e Condições</a>
        <a href="#politica">Política de Privacidade</a>
    </div>

    <div class="social-icons">
        <a href="https://www.instagram.com" target="_blank" class="social-icon">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://x.com" target="_blank" class="social-icon">
            <i class="fab fa-x"></i> 
        </a>
        <a href="https://www.facebook.com" target="_blank" class="social-icon">
            <i class="fab fa-facebook-f"></i>
        </a>
    </div>

</footer>  



  

</body>
</html>