<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" a href="dadosdoador.css">
</head>
<body>
      <nav class="navbar">
        <ul>
            <li class="menu">
                    <img src="midia1/menu-aberto.png"; alt="Ícone de Menu"> 
                </a>
            </li>
            <li class="logo">
                <img src="midia1/Logo.PNG" alt="Logo">
            </li>
            <li class="login-icon">
                    <img src="midia1/login-icon.png" alt="Ícone de Login">
                </a>
            </li>
        </ul>
    </nav>

 <h1>Dados Pessoais:</h1>
  <div class="input-container">
    <label for="nome-field">Nome Completo:</label>
    <input type="text" id="nome-field" name="nome-field" placeholder="">
  </div>

  <div class="input-container">
    <label for="nascimento-field">Data de Nascimento:</label> 
    <input type="text" id="nascimento-field" name="nascimento-field" placeholder=""
  </div> 
 
  <div class="input-container">
    <label for="telefone-field">Telefone:</label> 
    <input type="text" id="Telefone" name="Telefone" placeholder=""
  </div> 

  <div class="input-container">
    <label for="email-field">Email ou CPF:</label>
    <input type="text" id="email-field" name="email-field" placeholder="">
  </div> 

  <div class="input-container">
    <label for="país-field">Pais:</label>
    <input type="text" id="país-field" name="país-field" placeholder="">
  </div>  

  <div class="input-container">
    <label for="sexo-field">Sexo:</label>
    <input type="text" id="sexo-field" name="sexo-field" placeholder="">
  </div>  

  <div class="input-container">
    <label for="estado-field">Estado:</label>
    <input type="text" id="estado-field" name="estado-field" placeholder="">
  </div> 


  <div class="input-container">
    <label for="pergunta-field">Como vc escolheu quais roupas doar:</label>
    <input type="text" id="pergunta-field" name="pergunta-field" placeholder="">
  </div> 

  <div class="input-container">
    <label for="pergunta-field">O que te motivou a doar suas roupas:</label>
    <input type="text" id="pergunta-field" name="pergunta-field" placeholder="">
  </div>




  

</body>
</html>