<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReWear</title>
    <link rel="stylesheet" href="../View/Media/CSS/Homepage1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li class="menu">
                <a href="javascript:void(0);">
                    <img src="../View/Media/menu.png" alt="Ícone de Menu">
                </a>
            </li>
            <li class="logo">
                <img src="../View/Media/Logo.PNG" alt="Logo">
            </li>
            <li class="login">
                <a href="Cadastro.html">
                    <img src="../View/Media/login-icon.png" alt="Ícone de Login">
                </a>
                <a href="Cadastro.html" class="login-text-link">
                    <span class="login-text">Cadastro/Login</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="banner-container">
        <img src="../View/Media/Fundo montanha.jpg" alt="Imagem de Banner" class="banner">
        <div class="overlay-text">O QUE FAZEMOS?</div>
    </div>

    <div class="text-box">
        <p>Doações de Roupas: Se você tem peças que não usa mais, nós ajudamos a dar um novo destino a elas. Aceitamos roupas em bom estado e garantimos que cada item seja valorizado e reutilizado. 
            <br>
            Venda a Baixo Custo: Nosso site também é um espaço onde você pode encontrar roupas de marca, já usadas, incríveis a preços acessíveis. </p>
    </div>

    <div class="boxes-container">
        <div class="box">
            <h1>Ajude o meio ambiente</h1>
            <p>Doando, podemos ajudar a reduzir o desperdício e a preservar o meio ambiente da indústria têxtil.</p>
        </div>
        <div class="box">
            <h1>Extremamente seguro</h1>
            <p>Nosso site é seguro e fácil de navegar, proporcionando uma experiência tranquila. Compartilhe ou adquira peças com confiança total em doações seguras.</p>
        </div>
        <div class="box">
            <h1>Ganhe recompensas ao doar</h1>
            <p>Transforme suas roupas em recompensas! Ao doar, você ajuda o planeta e ganha prêmios incríveis que valorizam sua generosidade.</p>
        </div>
    </div>

    <div class="espaco-caixas-imagem"></div>

    <div class="imagem-rodape">
        <div>
        <img src="../View/Media/roupa lixo.png" alt="Imagem Descrição">
        </div>
        <div class="sobrepor">
            <button> CLIQUE AQUI
                <span></span>
            </button>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-links">
            <a href="#sobre">SOBRE</a>
            <a href="#termos">TERMOS E CONDIÇÕES</a>
            <a href="#politica">POLÍTICA DE PRIVACIDADE</a>
        </div>

        <div class="social-icons">
            <a href="https://www.instagram.com" target="_blank" class="social-icon">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://x.com" target="_blank" class="social-icon">
                <i class="fab fa-x"></i>
            </a>
            <a href="https://www.facebook.com" target="_blank" class="social-icon">
                <i class="fab fa-facebook-f"></i>
            </a>
        </div>
        <br>
    </footer>

</body>
</html>