
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recompensas - ReWear</title>
  <link rel="stylesheet" href="Media/CSS/Recompensas.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <nav class="navbar">
        <ul>
            <li class="menu">
                <a href="pagina-do-menu.html"> 
                    <img src="Media/menu-aberto.png" alt="Ícone de Menu">
                </a>
            </li>

            <li class="logo">
                <img src="Media/Logo.PNG" alt="Logo">
            </li>

            <li class="login-icon">
                <a href="pagina-do-menu.html"> 
                    <img src="Media/login-icon.png" alt="Ícone de Login">
                </a>
            </li>
        </ul>
    </nav>

    <section class="moeda">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="recompensas">Recompensas</h2>
                </div>
                <div class="col-md-6">
                    <h3 class="ReWearGold">ReWear Gold</h3>
                    <img class="moedaimg" src="Media/moeda.png" alt="Moeda">
                </div>
                <div class="col-md-6">
                    <p class="valor">R$0,00</p>
                </div>
            </div>
        </div>
    </section>

    <main class="main">
    <section class="grid">
      <div class="grid-item"> Cupom AliExpress garante 30% off.</div>
      <div class="grid-item">Cupom Casas Bahia oferece até 20%.</div>
      <div class="grid-item">15% de desconto em produtos OBoticário</div>
      <div class="grid-item">
        <img src="Media/GooglePlay.png" alt="Gift Card Google Play">
    </div>
    <div class="grid-item">
        <img src="Media/Ifood.png" alt="Gift Card iFood">
    </div>

    <div class="grid-item">
        <img src="Media/uber.png" alt="Gift Card Uber">
    </div>
    <div class="grid-item">Recarga de celular. Operadora TIM - R$40.</div>
    <div class="grid-item">Recarga de celular. Operadora Claro - R$40</div>
    <div class="grid-item">Recarga de celular. Operadora VIVO - R$40</div>
    </section>

    <section class="coupon-container">
        <a href=https://www.vivara.com.br/cupom?gad_source=1&gclid=Cj0KCQiAr7C6BhDRARIsAOUKifiuUSJR5tYowpIGDLqfVO5yeV9lBv_108MMgjA7LOyw7bvYnZgDVEAaAl44EALw_wcB" class="coupon">
            <div class="coupon">
                <p class="text-cupom">Cupom Vivara - 30% off na próxima compra + 2,5% de cashback.</p>
            </div>
        </a>
        <a href="https://www.cuponomia.com.br/desconto/droga-raia" class="coupon">   
            <div class="coupon">
                <p class="text-cupom">Cupom Droga Raia - 10% de desconto em todo o site.</p>
            </div>
        </a>
    </section>
  </main>

    <footer class="footer">
        <div class="footer-links">
            <a href="#sobre">Sobre</a>
            <a href="#termos">Termos e Condições</a>
            <a href="#politica">Política de Privacidade</a>
        </div>

        <div class="social-icons">
            <a href="https://www.instagram.com" target="_blank" class="social-icon">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://x.com" target="_blank" class="social-icon">
                <i class="fab fa-x"></i>
            </a>
            <a href="https://www.facebook.com" target="_blank" class="social-icon">
                <i class="fab fa-facebook-f"></i>
            </a>
        </div>
    </footer>
    
</body>
</html>