* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: left; 
  margin: 20px 0 30px 20px; 
}

.body {
  font-family: Arial, sans-serif; 
  line-height: 1.6; 
  color: #333; 
  background-color: #ffffff; 
}  

.navbar {
  width: 100%;          
  background-color: #435922; 
  padding: 10px 0;     
} 

.logo img {
  width: 440px;
  height: auto;
  vertical-align: middle; 
  margin-left: 50px; 
  align-self: center;
} 

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

.navbar .menu img {
  width: 45px;    
  height: auto;   
} 

.content {
  max-width: 800px; 
  margin: 0 auto; 
  text-align: left; 
}

.image {
  display: block; 
  max-width: 100%; 
  height: auto; 
  margin: 0 auto; 
  margin-bottom: 20px; 
}

.text {
  font-size: 20px;
  line-height: 2.0; 
  text-align: justify; 
  font-family: 'Lato', sans-serif;
}

.link-container {
  text-align: center;
  margin: 20px 0;
}

.link-container a {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.link-container a:hover {
  text-decoration: underline;
}

.comments-section {
  max-width: 800px;
  margin: 40px auto;
}

.comments-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.comment-form textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.comment-form .submit-comment {
  background-color: #435922;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.comment-form .submit-comment:hover {
  background-color: #3b4e1f;
}

.comment {
  background-color: #f9f9f9;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.more-articles {
  background-color: #435922; 
  color: white;
  padding: 10px 30px; 
  border: none;
  border-radius: 5px;
  font-size: 16px; 
  font-family: Arial, sans-serif; 
  cursor: pointer;
  display: block;
  text-align: center;
  margin: 20px auto; 
  text-decoration: none;
  width: fit-content; 
}

.more-articles:hover {
  background-color: #3b4e1f; 
}

.footer {
  background-color: #435922;
  color: white;
  text-align: center;
  padding: 20px;
  font-family: 'Lalezar', sans-serif; 
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 15px;
  font-weight: bold;
}

.footer-links a:hover {
  text-decoration: underline;
}

.social-icons {
  margin-top: 15px;
}

.social-icons .social-icon i {
  color: white; 
  font-size: 24px; 
  margin: 0 10px;
}

.social-icons .social-icon i:hover {
  color: #ccc; 
}