* {
    margin: 0;
    padding: 0;
  }  
  
    .h1 {
      margin-bottom: 20px;
      font-size: 1.8em;
    } 
  
  .container{
    display: grid; 
    margin: 10px 50px 10px 50px;
    grid-template-columns: 200px 200px;
    grid-template-rows: repeat(7, 70px);
    column-gap: 20px;
    row-gap: 10px; 
  }
   
  input{
    border: none; 
    border-radius: 10px;
    background-color: #ffffff; 
    font-size: 16px; 
    width: 300px; 
    height: 50px;
  }

  .nome{
    grid-row: 1; 
    grid-column: 1/2;
  } 

  .nascimento{
    grid-row: 2; 
    grid-column: 1/2;
  } 

  .telefone{
    grid-row: 3; 
    grid-column: 1/2;
  } 

  .email{
    grid-row: 4; 
    grid-column: 1;
  } 

  .pais{
    grid-row: 4; 
    grid-column: 1;
  } 

  .sexo{
    grid-row: 5; 
    grid-column: 1;
  } 

  .estado{
    grid-row: 5; 
    grid-column: 2;
  } 

  .navbar {
   width: 100%; 
    background-color: #435922; 
    padding: 10px 0;      
  }
  
    .logo img {
    width: 440px;
    height: auto;
    vertical-align: middle; 
    margin-left: 50px; 
    align-self: center;
  } 

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar li {
    display: inline;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 5px;
  }
  
  .navbar .menu {
    display: inline-flex; 
    align-items: center;   
    margin-top: 10px;      
  }
  
  .navbar .login-icon {
    display: inline-flex;  
    align-items: center;  
    margin-top: 10px;      
  }
  
  .navbar .menu img {
    width: 45px;    
    height: auto;   
  }
  
  body {
    font-family: Arial,sans-serif; 
    line-height: 1.6; 
    color: #333; 
    background-color: #efefef; 
  }    

  .footer {
    background-color: #435922;
    color: white;
    text-align: center;
    padding:20px;
    margin-top: 10px;
  }
  
  .footer-links {
    margin: 0px 0;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  
  