* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #000;
    background-color: #EFEFEF;
}

.header {
    background-color: #435922;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: center; /* Centraliza a navbar */
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between; /* Coloca os itens nas extremidades */
    align-items: center;
    width: 100%; /* Faz a navbar ocupar toda a largura */
    position: relative;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
    align-items: center;
}

.navbar li {
    display: inline;
}

.navbar li a {
    color: white;
    text-decoration: none;
}

.menu img,
.logo img,
.login-icon img {
    height: 40px;  /* Tamanho dos ícones */
}

.menu a:hover,
.logo a:hover,
.login-icon a:hover {
    opacity: 0.8;
}

.menu {
    margin-left: 10px; /* Distância do ícone de menu da borda esquerda */
}

.logo {
    display: flex;
    justify-content: center; /* Centraliza a logo dentro da navbar */
    flex-grow: 1; /* Faz a logo se expandir e ocupar o espaço restante */
    justify-self: center;
}

.login-icon {
    margin-right: 15px; /* Distância do ícone de login da borda direita */
}

.privacy-policy {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}

.privacy-policy h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.policy-text p {
    margin-bottom: 15px;
    text-align: justify;
}

.policy-text ul {
    list-style: disc;
    padding-left: 20px;
}

.policy-text ul li {
    margin-bottom: 10px;
}

.footer {
    background-color: #435922;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer-logo img {
    max-height: 40px;
}

/* Responsividade para dispositivos móveis */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .menu img, .logo img, .login-icon img {
        height: 30px; /* Ajuste para dispositivos menores */
    }

    .footer-nav {
        flex-direction: column;
    }

    .footer-nav a {
        margin-bottom: 5px;
    }
}
