.navbar { 
    width: 100%;          /* Faz a navbar ocupar toda a largura da tela */ 
    background-color: #435922; /* Cor de fundo da navbar */ 
    padding: 10px 0;      /* Ajuste de padding conforme necessário */ 
} 

/* Outros estilos de navbar, como links, etc. */ 
.navbar ul { 
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: space-around; 
} 

.navbar li { 
    display: inline; 
} 

.navbar a { 
    color: white; 
    text-decoration: none; 
    padding: 5px; 
} 

.navbar .menu { 
    display: inline-flex;  
    align-items: center; 
    margin-top: 10px; 
}

.navbar .login-icon { 
    display: inline-flex;   
    align-items: center;   
    margin-top: 10px;       
} 

.navbar .menu img { 
    width: 45px;    
    height: auto;   
} 

/* Logo */ 
.logo img { 
    width: 440px; 
    height: auto; 
    vertical-align: middle;  
    margin-left: 50px;  
    align-self: center; 
} 

* {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Lalezar',Arial, sans-serif; 
    line-height: 1.6; /* Ajusta o espaçamento vertical entre as linhas */
    color: #333; 
    background-color: #f9f9f9; 
  }

  .container {
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto;
  }

  .main {
    padding: 20px 0; /* Adiciona espaçamento interno no topo e embaixo */
  }

  .moedaimg{ 
    margin: 0px -119px -120px;
} 
.valor{ 
    padding: 4px 0px 40px 64px;
    font-family: 'Lalezar', sans-serif; 
    font-size: 45px; 
} 
.recompensas{ 
    font-family: 'Lalezar', sans-serif; 
    font-size: 45px; 
    margin-left: -120px;
    color: black;
} 
.ReWearGold{ 
    font-family: 'Lalezar', sans-serif; 
    font-size: 30px; 
    margin-left: -120px;
}

  /* Primeiro grid */
.grid {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    align-items: center;
    margin: 30px;
}
    

.grid-item {
    background-color: #D9D9D9; 
    padding: 20px; 
    text-align: center; 
    border: 1px solid #ccc;
    border-radius: 5px; 
}

/*Segundo Grid*/
.coupon-container {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: 1fr; 
    margin: 20px;
    border-radius: 5px;
  }
  
.coupon {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 5px;
}
  
.text-cupom {
    text-align: center;
    font-size: 16px;
    color: #333;
} 
.coupon-container a {
    text-decoration: none;
}
.coupon-container a:hover {
    text-decoration: underline; 
}

.footer {
    background-color: #333; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto no rodapé */
    text-align: center; /* Centraliza o texto */
    padding: 10px 0; /* Adiciona espaçamento interno no topo e embaixo */
    margin-top: 20px; /* Adiciona espaço acima do rodapé */
}
/* Estilo para o rodapé */ 
.footer { 
    background-color: #435922; 
    color: white; 
    text-align: center; 
    padding:20px; 
    margin-top: 10px; 
}

/* Estilo para os links do rodapé */ 
.footer-links { 
    margin: 0px 0; 
} 

.footer-links a { 
    color: white; 
    text-decoration: none; 
    margin: 15px; 
    font-weight: bold; 
} 

.footer-links a:hover { 
    text-decoration: underline; 

} 

.social-icons { 
    margin-top: 15px; 
} 

.social-icon { 
    color: white; 
    font-size: 25px; 
    margin: 0 10px; 
    text-decoration: none; 
} 

.social-icon:hover { 
    opacity: 0.7; /* Efeito de hover */ 
} 
