.content {
    max-width: 800px; /* Define a largura máxima do conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo na página */
    text-align: left; /* Alinha todo o conteúdo à esquerda */
}

.image {
    display: block; /* Garante que a imagem se comporte como um bloco */
    max-width: 100%; /* Faz a imagem se ajustar à largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    margin: 0 auto; /* Centraliza horizontalmente a imagem */
    margin-bottom: 20px; /* Espaçamento entre a imagem e o texto */
}

.text {
    font-size: 16px; /* Tamanho da fonte */
    line-height: 1.6; /* Altura das linhas para leitura confortável */
    text-align: justify; /* Justifica o texto */
}